body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    width: 300px;
    height: 400px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0
}

.card img {
    padding-top: 3%;
}

.card .info {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

.card .info h2 {
    color: #1d1d1d;
    font-size: medium;
    margin-bottom: 8px;
}

.card .info p {
    color: #666;
    font-size: small;
    margin-bottom: 15px;
}

.btn {
    color: #1d1d1d;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 3%;
    width: min-content;
    display: inline-block;
    margin-top: 0%;
    margin-right: 8px;
}

